---
---

@import "{{ site.theme }}";
a {
  color: #A61505;
}
a:hover {
  color: #E61B06;
  text-decoration: underline;
}

body > div.wrapper > nav > ul > li > a {
  font-weight: normal!important;
  font-size: 14px;
  color: #7A7A7A;
}

body > div.wrapper > nav > ul > li > a:hover {
  color: #E61B06;
}

body > div.wrapper > section > ul > li::marker {
  content: "📌 ";
}

h1, h2, h3 {
  line-height: 1.3;
}
h2 {
  padding-top: 20px;
}

li::marker {
  font-color: black;
  color: black;  
}

header {
  background-image: url(https://github.com/GeoUnconference/geounconference/raw/main/assets/background.png);
  background-color: #A61505;
  font-family: Arial, sans-serif;
}

body {
  background-image: url(https://github.com/GeoUnconference/geounconference/raw/main/assets/body-background.png);
}

header > h1 {
  font-family: Arial, sans-serif;
}


div#banner, footer {
  visibility: hidden;
}
